* {
    margin: 0px;
    padding: 0px;
}

.main_div {
    width: 100%;
    /* background-color: aqua; */
}

.inner_div {
    display: flex;
    height: 10vh;
    display: flex;
    /* align-items: center; */
    justify-content: center;
  
}

.gym{
    text-align: center;
    text-decoration:none;
    font-size: 20px;
    
}
/* .ul{
    
} */
.ul li {
    display: inline-block;
    margin: 10px;

}

.ul li a {
    text-decoration: none;
    color: rgb(16, 4, 4);


}
/* .ul li:hover{
    text-align: center;
    width: 60px;
    background-color: rgb(98, 112, 112);
    transform: scale(0.9); 
} */

.btn {
    width: 80px;
    height: 35px;
    border: 0px rgb(54, 176, 252);
    margin: 10px;
    background-color: rgb(54, 176, 252);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.311);
    text-align: center;
}

.btn:hover {
    transform: scale(0.9);
}

/* .ul li:hover {
    background-color: rgb(189, 202, 206);
    width: 50px;
    /* border-radius: 2ch; */
    /* transition: 0.2s; */
    /* height: 40px; */

/* }  */



.fitness {
    width: auto;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

.text {
    font-size: 18px;
}

.img {
    width: 250px;
    height: 250px;
    /* background-color: aqua; */
    padding: 10px;
    border-radius: 0.5ch;
}

.gym a{
    text-decoration: none;;
}
.img:hover {
    transform: scale(1.2);
}

.menu {
    width: auto;
    height: auto;
    display: flex;
    align-items: space-evenly;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 20px;
    row-gap: 10px;
    
}


.box{
    /* margin-bottom: -px; */
    width: 250px;
    height: 400px;
    text-align: center;
    border: 1px solid rgb(9, 8, 11);
    border-radius: 1ch;

}
.box img{
    width: 250px;
    height: 320px;
    background-image: url "https://source.unsplash.com/featured/300x201";

}

.box p{
    margin-top: -5px;
}

.input{
    background-color: rgba(83, 157, 248, 0.927);
    border: 0px;
    width: 100px;
    height: 24px;
}

.box:hover {
    /* transition: 0.8s; */
    /* background-color: rgb(209, 250, 196); */
    transform: scale(1.5s);

}

.footer {
    width: auto;
    height: 25vh;
    background-color: rgb(169, 209, 209);
}



.inner_footer ul li {
    display: inline-block;
    margin-top: 5px;
    padding: 8px;
}


.inner_footer a {
    text-decoration: none;
}